.flex-container {
    display: flex;
  }

  .bigblue  {
    background: #1F2937;
    height: 350px;
    width: 900px;
    flex: 1;
    justify-content: space-between;
    padding-left: 120px;
    padding-right: 120px;
  }

  .bigwhite  {
    background: white;
    height: 350px;
    width: 600px;
    flex: 1;
    padding-left:270px;
    padding-right:270px;
    align-items: center;
    display: flex;
  }

  .biggray  {
    background: gray;
    height: 350px;
    width: 1140px;
    flex: 1;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .flex-column  {
    flex-direction: column;
    flex: 1;
  }

  .flex-container .bigtitle {
    height: 100px;
    width: 100px;
    flex: 1;
    text-align: left;
    font-size: 24px;
    font-family: #F9FAF8;
    color: white;
  }

  .flex-container .littletitle {
    height: 100px;
    gap: 30px;
    flex: 1;
    text-align: right;
    color: white;
    justify-content: flex-end;
  }

  .awesome  {
    font-size: 30px;
    color: white;
  }

  .smallsome  {
    color: white;
  }

  .squaretext {
    width: 150px;
    font-size: 11px;
  }